:root {
	--c-sl0: oklab(59.894% -0.02732 -0.21605);
	--c-sl1: rgb(102, 255, 191);
	--c-party1-fg-hi: oklab(96.934% -0.02991 0.00888);
	--c-party1-fg-lo: oklab(90.431% -0.09195 0.03101);
	--c-party1-bg-hi: oklab(66.565% -0.08402 0.02904);
	--c-party1-bg-lo: oklab(28.639% -0.04739 0.0183);
	--c-sl2: oklab(56.018% 0.21925 -0.13514);
	--c-party3-fg-hi: oklab(81.702% 0.03951 -0.02674);
	--c-party3-fg-lo: oklab(59.101% 0.12617 -0.08117);
	--c-party3-bg-hi: oklab(44.023% 0.14369 -0.09295);
	--c-party3-bg-lo: oklab(24.626% 0.07914 -0.0549);
	--c-sl3: oklab(92.796% -0.06332 0.18912);
	--c-party2-fg-hi: oklab(95.503% -0.00228 0.05088);
	--c-party2-fg-lo: oklab(87.028% -0.00923 0.14399);
	--c-party2-bg-hi: oklab(66.942% 0.00131 0.13128);
	--c-party2-bg-lo: oklab(30.279% 0.00009 0.05364);
	--c-pl-sl-4: oklab(70.09% 0.14285 0.14164);
	--c-pl-s128: oklab(76.978% 0.15737 -0.02726);
	--c-pl-s129: oklab(73.104% -0.06284 0.11891);
	--c-pl-s130: oklab(82.923% -0.0898 -0.06841);
	--c-pl-s131: oklab(53.595% -0.13828 0.09703);
	--c-pl-s132: oklab(56.565% 0.04177 0.1151);

	--c-radiant-on: oklab(91.942% -0.09326 0.06452);
	--c-radiant-hi: oklab(65.429% -0.10492 0.09841);
	--c-radiant-mid: oklab(48.333% -0.09389 0.0932);
	--c-radiant-lo: oklab(29.67% -0.0695 0.06039);

	--c-dire-on: oklab(59.804% 0.15707 0.08972);
	--c-dire-hi: oklab(43.419% 0.15428 0.08551);
	--c-dire-lo: oklab(20.162% 0.07221 0.0404);

	--c-health-lit: oklab(59.663% -0.08203 0.05481);
	--c-health-dim: oklab(45.39% -0.05196 0.01681);
	--c-mana-lit: oklab(57.426% -0.05682 -0.0699);
	--c-mana-dim: oklab(44.402% -0.03972 -0.06701);

	--c-shards-gr-hi: oklab(73.515% 0.03226 0.08576);
	--c-shards-gr-lo: oklab(48.429% 0.08115 0.06918);
	--c-shards-lit: oklab(84.987% -0.01346 0.09091);
	--c-shards-mid: oklab(66.63% 0.02501 0.09842);
	--c-shards-dim: oklab(55.01% 0.04636 0.07534);
	--c-gold: oklab(86.657% 0.00377 0.16454);
	--c-steel-hi: oklab(66% -0.00978 -0.02457);
	--c-steel-lo: oklab(40.201% -0.00545 -0.01913);
	--c-brass-hi: oklab(90.66% -0.00392 0.06668);
	--c-brass-lo: oklab(58.91% -0.00283 0.07118);

	--c-component: var(--c-steel-lo);
	--c-consumable: var(--int-blue);
	--c-common: oklab(65.298% -0.16507 0.13491);
	--c-rare: oklab(62.6% -0.05039 -0.1877);
	--c-epic: oklab(59.689% 0.19556 -0.21877);
	--c-artifact: hsl(41, 99%, 45%);

	--str-red: oklab(61.569% 0.17925 0.12235);
	--agi-green: oklab(78.942% -0.20233 0.15163);
	--int-blue: oklab(80.018% -0.12283 -0.06044);
	--uni-purple: oklab(57.717% 0.16966 -0.19584);

	--c-ice-lit: oklab(91.019% -0.02043 -0.01332);
	--c-ice-mid: oklab(77.512% -0.01934 -0.0162);
	--c-ice-dim: oklab(51.257% -0.0198 -0.06658);
	
	--c-white: oklab(96.115% 0 -0.00011);
	--c-offwhite: oklab(92.191% 0 -0.0001);
	--c-flint-lit: oklab(76.358% 0 -0.00009);
	--c-flint-dim: oklab(41.654% 0 -0.00005);
	--c-chert-lit: oklab(76.632% -0.00939 -0.0118);
	--c-chert-mid: oklab(59.375% -0.00393 -0.0123);
	--c-chert-dim: oklab(50.761% -0.00376 -0.00939);
	--c-greenschist: oklab(61.872% -0.02526 -0.00755);
	--c-fg-grey-hi: oklab(52.709% -0.01092 -0.01472);
	--c-fg-grey-lo: oklab(36.732% -0.00611 -0.01257);
	--c-slate-hi: oklab(46.661% -0.01164 -0.01359);
	--c-slate-lo: oklab(32.351% -0.0077 -0.00785);
	--c-basalt-hi: oklab(28.171% -0.0048 -0.00909);
	--c-basalt-lo: oklab(21.782% -0.00611 -0.0059);
	--c-bg-medalframe: oklab(28.933% -0.0056 -0.01117);
	--slate: oklab(26.695% -0.00228 -0.00265);
	--c-obsidian-blue: oklab(19.594% 0.0032 -0.02623);
	--c-obsidian-green: oklab(18.738% -0.00542 -0.00374);

	/* Gradients */
	--gr-text-party1: linear-gradient(to bottom, var(--c-party1-fg-hi), var(--c-party1-fg-lo));
	--gr-text-party2: linear-gradient(to bottom, var(--c-party2-fg-hi), var(--c-party2-fg-lo));
	--gr-text-party3: linear-gradient(to bottom, var(--c-party3-fg-hi), var(--c-party3-fg-lo));

	--border: 0.1em solid var(--c-chert-dim);
	--corner-radius: 0.2em;

	/* DEFAULT COLORS - acc, lit, mid, dim, off roughly corresponds
	to hover, selected, normal, not selected, disabled */
	--txt-acc: var(--c-offwhite);
	--txt-dim: var(--c-greenschist);
	--txt-acc-hi: var(--c-ice-lit);
	--txt-acc-lo: var(--c-ice-mid);
	--txt-lit-hi: var(--c-white);
	--txt-lit-lo: var(--c-chert-lit);
	--txt-mid-hi: var(--c-offwhite);
	--txt-mid-lo: var(--c-flint-lit);
	--txt-dim-hi: var(--c-chert-mid);
	--txt-dim-lo: var(--c-chert-dim);
	--txt-off-hi: var(--c-fg-grey-hi);
	--txt-off-lo: var(--c-fg-grey-lo);

	--bgr-acc-hi: var(--c-ice-dim);
	--bgr-acc-lo: var(--c-slate-lo);
	--bgr-lit-hi: var(--c-ice-dim);
	--bgr-lit-lo: var(--c-slate-lo);
	--bgr-mid-hi: var(--c-slate-hi);
	--bgr-mid-lo: var(--c-slate-lo);
	--bgr-dim-hi: var(--c-slate-hi);
	--bgr-dim-lo: var(--c-slate-lo);
	--bgr-off-hi: var(--c-basalt-hi);
	--bgr-off-lo: var(--c-basalt-lo);

	--bor-acc-hi: var(--c-chert-lit);
	--bor-acc-lo: var(--c-flint-lit);
	--bor-lit-hi: var(--c-chert-lit);
	--bor-lit-lo: var(--c-flint-lit);
	--bor-mid-hi: var(--c-chert-lit);
	--bor-mid-lo: var(--c-chert-mid);
	--bor-dim-hi: var(--c-chert-mid);
	--bor-dim-lo: var(--c-chert-dim);
	--bor-off-hi: var(--c-slate-hi);
	--bor-off-lo: var(--c-slate-lo);

	/* DEFAULT GRADIENTS - Must be recalculated for each style class.
	This allows us to set direction and color stops individually. */
	--gr-txt-acc: linear-gradient(to top, var(--txt-acc-hi), var(--txt-acc-lo));
	--gr-txt-lit: linear-gradient(to top, var(--txt-lit-lo), var(--txt-lit-hi));
	--gr-txt-mid: linear-gradient(to top, var(--txt-mid-hi), var(--txt-mid-lo));
	--gr-txt-dim: linear-gradient(to top, var(--txt-dim-hi), var(--txt-dim-lo));
	--gr-txt-off: linear-gradient(to top, var(--txt-off-hi), var(--txt-off-lo));

	--gr-bgr-acc: radial-gradient(var(--bgr-acc-hi), var(--bgr-acc-lo));
	--gr-bgr-lit: radial-gradient(var(--bgr-lit-hi), var(--bgr-lit-lo));
	--gr-bgr-mid: linear-gradient(to top, var(--bgr-mid-hi), var(--bgr-mid-lo));
	--gr-bgr-dim: linear-gradient(to top, var(--bgr-dim-hi), var(--bgr-dim-lo));
	--gr-bgr-off: linear-gradient(to top, var(--bgr-off-hi), var(--bgr-off-lo));

	--gr-bor-acc: radial-gradient(var(--bor-acc-hi), var(--bor-acc-lo));
	--gr-bor-lit: radial-gradient(var(--bor-lit-hi), var(--bor-lit-lo));
	--gr-bor-mid: linear-gradient(to top, var(--bor-mid-hi), var(--bor-mid-lo));
	--gr-bor-dim: linear-gradient(to top, var(--bor-dim-hi), var(--bor-dim-lo));
	--gr-bor-off: linear-gradient(to top, var(--bor-off-hi), var(--bor-off-lo));
	
	--bor-thickness: 0.08em;
	--out-thickness: 0.08em;
	--bor-line: solid;
	--out-line: solid;
	--out-color: #fff3;
	--txt-shadow: 0 0 4px oklab(from var(--c-obsidian-green)l a b/0.2);
	--box-shadow: 0 0 4px oklab(from var(--c-obsidian-green)l a b/0.2);
}

.text-gradient {
	font-weight: 700;
	background: text var(--gr-txt-mid) content-box var(--bgr-mid-lo);
	color: transparent;
	text-shadow: none;

	&.selected {
		background: text var(--gr-txt-lit) content-box var(--bgr-mid-lo);
	}
	&:link {
		text-decoration-color: transparent;
	}
	&:visited {
		background: text var(--gr-txt-dim) content-box var(--bgr-mid-lo);
	}
	&:hover, &:focus-visible {
		background: text var(--gr-txt-acc) content-box var(--bgr-mid-lo);
	}

	&:active {
		background: text var(--gr-txt-lit) content-box var(--bgr-mid-lo);
	}
}

.border-gradient {
	background: border-box var(--gr-bor-mid) content-box var(--bg-mid-lo);
	--bor-color: transparent;
}

.health {
	--bgr-mid-hi:  var(--c-health-lit);
	--bgr-mid-lo: var(--c-health-dim);
}
.mana{
	--bgr-mid-hi: var(--c-mana-lit);
	--bgr-mid-lo: var(--c-mana-dim);
}

.consumable {
	--txt-lit-hi: color-mix(in oklab, var(--c-consumable) 33%, white 67%);
	--txt-lit-lo: color-mix(in oklab, var(--c-consumable) 67%, white 33%);
	--txt-mid-hi: var(--c-consumable);
	--txt-dim-hi: color-mix(in oklab, var(--c-consumable) 67%, black 33%);
	--txt-dim-lo: color-mix(in oklab, var(--c-consumable) 33%, black 67%);
	--bor-lit-hi: var(--txt-lit-hi);
	--bor-lit-lo: var(--txt-lit-lo);
	--bor-mid-hi: var(--txt-mid-hi);
	--bor-dim-hi: var(--txt-dim-hi);
	--bor-dim-lo: var(--txt-dim-lo);
}

.component, .secret_shop {
	--txt-lit-hi: color-mix(in oklab, var(--c-component) 33%, white 67%);
	--txt-lit-lo: color-mix(in oklab, var(--c-component) 67%, white 33%);
	--txt-mid-hi: var(--c-component);
	--txt-dim-hi: color-mix(in oklab, var(--c-component) 67%, black 33%);
	--txt-dim-lo: color-mix(in oklab, var(--c-component) 33%, black 67%);
	--bor-lit-hi: var(--txt-lit-hi);
	--bor-lit-lo: var(--txt-lit-lo);
	--bor-mid-hi: var(--txt-mid-hi);
	--bor-dim-hi: var(--txt-dim-hi);
	--bor-dim-lo: var(--txt-dim-lo);
}

.common {
	--txt-lit-hi: color-mix(in oklab, var(--c-common) 33%, white 67%);
	--txt-lit-lo: color-mix(in oklab, var(--c-common) 67%, white 33%);
	--txt-mid-hi: var(--c-common);
	--txt-dim-hi: color-mix(in oklab, var(--c-common) 67%, black 33%);
	--txt-dim-lo: color-mix(in oklab, var(--c-common) 33%, black 67%);
	--bor-lit-hi: var(--txt-lit-hi);
	--bor-lit-lo: var(--txt-lit-lo);
	--bor-mid-hi: var(--txt-mid-hi);
	--bor-dim-hi: var(--txt-dim-hi);
	--bor-dim-lo: var(--txt-dim-lo);
}

.rare {
	--txt-lit-hi: color-mix(in oklab, var(--c-rare) 33%, white 67%);
	--txt-lit-lo: color-mix(in oklab, var(--c-rare) 67%, white 33%);
	--txt-mid-hi: var(--c-rare);
	--txt-dim-hi: color-mix(in oklab, var(--c-rare) 67%, black 33%);
	--txt-dim-lo: color-mix(in oklab, var(--c-rare) 33%, black 67%);
	--bor-lit-hi: var(--txt-lit-hi);
	--bor-lit-lo: var(--txt-lit-lo);
	--bor-mid-hi: var(--txt-mid-hi);
	--bor-dim-hi: var(--txt-dim-hi);
	--bor-dim-lo: var(--txt-dim-lo);

}

.epic {
	--txt-lit-hi: color-mix(in oklab, var(--c-epic) 33%, white 67%);
	--txt-lit-lo: color-mix(in oklab, var(--c-epic) 67%, white 33%);
	--txt-mid-hi: var(--c-epic);
	--txt-dim-hi: color-mix(in oklab, var(--c-epic) 67%, black 33%);
	--txt-dim-lo: color-mix(in oklab, var(--c-epic) 33%, black 67%);
	--bor-lit-hi: var(--txt-lit-hi);
	--bor-lit-lo: var(--txt-lit-lo);
	--bor-mid-hi: var(--txt-mid-hi);
	--bor-dim-hi: var(--txt-dim-hi);
	--bor-dim-lo: var(--txt-dim-lo);
}

.artifact {
	--txt-lit-hi: color-mix(in oklab, var(--c-artifact) 33%, white 67%);
	--txt-lit-lo: color-mix(in oklab, var(--c-artifact) 67%, white 33%);
	--txt-mid-hi: var(--c-artifact);
	--txt-dim-hi: color-mix(in oklab, var(--c-artifact) 67%, black 33%);
	--txt-dim-lo: color-mix(in oklab, var(--c-artifact) 33%, black 67%);
	--bor-lit-hi: var(--txt-lit-hi);
	--bor-lit-lo: var(--txt-lit-lo);
	--bor-mid-hi: var(--txt-mid-hi);
	--bor-dim-hi: var(--txt-dim-hi);
	--bor-dim-lo: var(--txt-dim-lo);

}

.radiant {
	--color: var(--agi-green);
	color: var(--color);
	text-shadow: 0 0 0.4em var(--color);
	&.gradient {
		background: linear-gradient(to right, oklab(from var(--agi-green)l a b/0.5), transparent);
	}
}

.dire {
	--color: var(--str-red);
	color: var(--color);
	text-shadow: 0 0 0.4em var(--color);
	&.gradient {
		background: linear-gradient(to left, oklab(from var(--str-red)l a b/0.5), transparent);
	}
}

.neutral {
	--color: var(--c-white);
	color: var(--color);
	text-shadow: none;
}

.gradient-box {
	border: none;
	border-radius: var(--corner-radius);
	outline: var(--bor-thickness) var(--bor-line) #fff2;
	outline-offset: calc(0 - var(--bor-thickness));
	color: var(--fg);
	text-shadow: 0 0 4px #0001;
	background: linear-gradient(to bottom, var(--bgr-mid-hi) var(--bgr-mid-lo));
}

.glow-frame {
	border-radius: var(--corner-radius);
	border: none;
	outline: var(--bor-thickness) var(--bor-line) var(--bor-dim-hi);
	&:hover {
		outline-color: var(--bor-lit-lo);
		box-shadow: 0 0 0.3em var(--bor-mid-hi);
	}
	&:active {
		outline-color: var(--bor-lit-hi);
		box-shadow: 0 0 0.3em var(--bor-lit-lo);
	}
}

.box {
	color: var(--txt-mid-hi);
	padding: 0.2lh 1ch;
	border-radius: var(--corner-radius);
	background-color: var(--bg-mid-lo);
	transition: all 120ms, text-shadow box-shadow 360ms;

	&:hover {
		color: var(--txt-lit-lo);
		text-shadow: 0 0 0.2em var(--txt-mid-hi);
		border-color: var(--bor-lit-lo);
		box-shadow: 0 0 0.4em var(--bor-mid-hi);
		transition: all 120ms;
	}

	&:active {
		color: var(--txt-dim-hi);
		border-color: var(--bor-dim-hi);
		text-shadow: 0 0 0.2em var(--txt-dim-lo);
		box-shadow: 0 0 0.2em var(--bor-dim-lo);
	}
}

body {
	margin: 0;
	color: white;
	background-color: var(--c-obsidian-green);
	font-family:'Noto Serif', serif;
}

h1, h2 {
	margin: 0;
	text-shadow: 0 0 0.3rem var(--c-ice-dim);
	transition: all 360ms;
	&:hover {
		text-shadow: 0 0 0.6rem var(--c-ice-dim);
	}
}

header {
	padding: 0.5rem 1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	background: linear-gradient(150deg, #333, #111);
	border-bottom: 0.1rem solid var(--c-chert-dim);
	& h1 {
		justify-self: start;
		margin: 0;
	}
}
main {
	padding: 1rem 1rem;
	background: linear-gradient(45deg, var(--slate), var(--c-obsidian-green));
}

button {
	font-size: 1.5rem;
	padding: 0.2lh 1ch;
	font-family: 'Noto Serif', serif;
	font-weight: 600;
	transition: all 360ms;
		&:hover {
		cursor: pointer;
		text-shadow: 0 0 0.2em var(--color);
		box-shadow: 0 0 0.4em var(--color);
		transition: all 120ms;
	}
	&:disabled {
		cursor: auto;
		text-shadow: none;
		box-shadow: none;
	}
}

input {
	font-size: 1.5rem;
	padding: 0.2lh 1ch;
	font-family: 'Noto Serif', serif;
	font-weight: 600;
	border: 0.1em solid var(--color);
	outline: 0.05em solid #fff3;
	outline-offset: -0.1em;
	border-radius: 0.2em;
	color: var(--c-white);
	background-color: var(--bg-color);
}

table {
	border-collapse: collapse;
	width: 90%;
	text-align: left;
	margin: 1rem;
}
th, td, table > caption {
	padding: 0 1rem;
}

table > caption {
	text-align: left;
	font-size: 2.5rem;
}

tr:has([data-result='Victory']) {
	border-right-color: var(--agi-green);
	background: linear-gradient(to left, oklab(from var(--agi-green)l a b/0.5), transparent);
	border-left: none;
	border: 2px solid oklab(from var(--agi-green)l a b/0.25);
}
tr:has([data-result='Defeat']) {
	border-right-color: var(--str-red);
	background: linear-gradient(to left, oklab(from var(--str-red)l a b/0.5), transparent);
	border: 2px solid oklab(from var(--str-red)l a b/0.25);
	border-left: none;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 1em;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.even-row {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	place-items: center;
}

.match-grid {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}

.hover-box {
	position: absolute;
	bottom: 10%;
	left: -6ch;
	display: none;
	z-index: 1;
	width: 12ch;
	background-color: oklab(from var(--slate)l a b/0.5);
	& h2 {
		font-size: 1rem;
		margin: 0;
	}
	& span {
		font-size: 0.8rem;
	}
}

.match-summary:hover {
	cursor: pointer;	
	filter: brightness(1.2);
}

#calls-left {
	text-align: center;
	& h2 {
		font-size: 1.2rem;
		margin: 0 0 0.2lh;
		letter-spacing: 8%;
	}
}

#profile {
	display: grid;
	width: fit-content;
	place-items: center start;
	gap: 0.5rem;
	grid-template-areas: 
	"pnm avt mdl"
	"pnm avt mdl"
	"acc avt mdl"
	;
	& > * {
		margin: 0;
		padding: 0;
	}
}

[data-grid='pnm'] {grid-area: pnm;}
[data-grid='acc'] {grid-area: acc;}
[data-grid='avt'] {
	grid-area: avt;
	height: 3lh;
}
[data-grid='mdl'] {
	grid-area: mdl;
	height: 3lh;
	justify-self: center;
}
[data-grid='rnk'] {
	grid-row: 3;
	grid-column: 3;
}

td:has(img.hero) {
	display: grid;
	place-items: center start;
	padding: 0.2em;
	& img {
		height: 4lh;
		outline: 1px solid #fff1;
		outline-offset: -1px;
		box-shadow: -8px 0 8px #0002;
		transition: all 360ms;
		&:hover {
			outline-color: #fff2;
			box-shadow: 0 0 16px #8882;
			transition: all 120ms;
		}
	}
}

[data-result], [data-side], .kda {
	font-size: 1.5rem;
}
[data-result='Victory'] {
	color: var(--c-artifact);

}
[data-result='Defeat'] {
	color: var(--c-chert-lit);
}
[data-side='Radiant'] {
	color: var(--agi-green);
	text-shadow: 0 0 4px var(--agi-green);
}
[data-side='Dire'] {
	color: var(--str-red);
	text-shadow: 0 0 4px var(--str-red);
}
.match-clock {
	font-size: 2.5rem;
}

#match-history {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#rank-distribution {
	margin: 0.5rem;
	border: var(--border);
	border-radius: var(--corner-radius);
	background: linear-gradient(-180deg, var(--c-obsidian-green), var(--slate));
	padding: 1rem 6ch 0.5rem;
	aspect-ratio: 5/2;
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: space-around;
	gap: 0.4em;
	& .rank-bar {
		position: relative;
		gap: 0.2em 0;
		& > .flex-row {
			height: 100%;
			gap: 0;
			align-items: end;
		}
		display: flex;
		flex-direction: column;
		justify-content: end;
		height: 100%;
		border-radius: 0.5em;
		& .bar {
			border: var(--border);
			width: 100%;
			border-top-left-radius: 0.1rem;
			border-top-right-radius: 0.1rem;
			&[data-role="count"] {
				background-color: oklab(from var(--c-artifact)l a b/0.5);
				border-color: var(--c-artifact);
				&.player-rank {
					background-color: oklab(from var(--c-common)l a b/0.5);
					border-color: var(--c-common);
				}
			}
			&[data-role="percentile"] {
				background-color: oklab(from var(--c-rare)l a b/0.5);
				border-color: var(--c-rare);
				&.player-rank {
					background-color: oklab(from var(--c-epic)l a b/0.5);
					border-color: var(--c-epic);
				}
			}
		}
		& img.rank-medal {
			width: 100%;
		}
	}
	& .rank-bar:hover {
		background-color: #fff1;
		& .bar {
			&[data-role="count"] {
				background-color: var(--c-artifact);
				&.player-rank {
					background-color: var(--c-common);
				}
			}
			&[data-role="percentile"] {
				background-color: var(--c-rare);
				&.player-rank {
					background-color: var(--c-epic);
				}
			}
		}
		& .hover-box {
			display: flex;
			flex-direction: column;
			align-items: center;

		}
	}
}

#items {
	display: grid;
	max-width: 70vw;
	width: 70vw;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}

.items-panel {
	& > .grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;

		& .grid {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 0.5em;
			
			& button > img {
				box-sizing: content-box;
				display: block;
				object-fit: contain;
				object-position: center;
				width: 100%;
				height: 100%;
				aspect-ratio: 11/8;
				min-height: 16px;
				max-height: 64px;
			}
		}
	}
}

button:has(> img), a:has(> img) {
	width: 100%;
	padding: 0;
	background: black;
}